<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated commons -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.tu_bs.isf.cs.mbse.egg.commons.presentation.CommonsModelWizardID"
            name="%_UI_CommonsModelWizard_label"
            class="de.tu_bs.isf.cs.mbse.egg.commons.presentation.CommonsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CommonsModelFile.gif">
         <description>%_UI_CommonsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated commons -->
      <editor
            id="de.tu_bs.isf.cs.mbse.egg.commons.presentation.CommonsEditorID"
            name="%_UI_CommonsEditor_label"
            icon="icons/full/obj16/CommonsModelFile.gif"
            extensions="commons"
            class="de.tu_bs.isf.cs.mbse.egg.commons.presentation.CommonsEditor"
            contributorClass="de.tu_bs.isf.cs.mbse.egg.commons.presentation.CommonsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated level -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.tu_bs.isf.cs.mbse.egg.level.presentation.LevelModelWizardID"
            name="%_UI_LevelModelWizard_label"
            class="de.tu_bs.isf.cs.mbse.egg.level.presentation.LevelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LevelModelFile.gif">
         <description>%_UI_LevelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated level -->
      <editor
            id="de.tu_bs.isf.cs.mbse.egg.level.presentation.LevelEditorID"
            name="%_UI_LevelEditor_label"
            icon="icons/full/obj16/LevelModelFile.gif"
            extensions="level"
            class="de.tu_bs.isf.cs.mbse.egg.level.presentation.LevelEditor"
            contributorClass="de.tu_bs.isf.cs.mbse.egg.level.presentation.LevelActionBarContributor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated descriptions -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.tu_bs.cs.isf.mbse.egg.descriptions.presentation.DescriptionsModelWizardID"
            name="%_UI_DescriptionsModelWizard_label"
            class="de.tu_bs.cs.isf.mbse.egg.descriptions.presentation.DescriptionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DescriptionsModelFile.gif">
         <description>%_UI_DescriptionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated descriptions -->
      <editor
            id="de.tu_bs.cs.isf.mbse.egg.descriptions.presentation.DescriptionsEditorID"
            name="%_UI_DescriptionsEditor_label"
            icon="icons/full/obj16/DescriptionsModelFile.gif"
            extensions="descriptions"
            class="de.tu_bs.cs.isf.mbse.egg.descriptions.presentation.DescriptionsEditor"
            contributorClass="de.tu_bs.cs.isf.mbse.egg.descriptions.presentation.DescriptionsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated descriptions -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.tu_bs.cs.isf.mbse.egg.descriptions.gui.presentation.GuiModelWizardID"
            name="%_UI_GuiModelWizard_label"
            class="de.tu_bs.cs.isf.mbse.egg.descriptions.gui.presentation.GuiModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GuiModelFile.gif">
         <description>%_UI_GuiModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated descriptions -->
      <editor
            id="de.tu_bs.cs.isf.mbse.egg.descriptions.gui.presentation.GuiEditorID"
            name="%_UI_GuiEditor_label"
            icon="icons/full/obj16/GuiModelFile.gif"
            extensions="gui"
            class="de.tu_bs.cs.isf.mbse.egg.descriptions.gui.presentation.GuiEditor"
            contributorClass="de.tu_bs.cs.isf.mbse.egg.descriptions.gui.presentation.GuiActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated descriptions -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.tu_bs.cs.isf.mbse.egg.descriptions.gameelements.presentation.GameelementsModelWizardID"
            name="%_UI_GameelementsModelWizard_label"
            class="de.tu_bs.cs.isf.mbse.egg.descriptions.gameelements.presentation.GameelementsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GameelementsModelFile.gif">
         <description>%_UI_GameelementsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated descriptions -->
      <editor
            id="de.tu_bs.cs.isf.mbse.egg.descriptions.gameelements.presentation.GameelementsEditorID"
            name="%_UI_GameelementsEditor_label"
            icon="icons/full/obj16/GameelementsModelFile.gif"
            extensions="gameelements"
            class="de.tu_bs.cs.isf.mbse.egg.descriptions.gameelements.presentation.GameelementsEditor"
            contributorClass="de.tu_bs.cs.isf.mbse.egg.descriptions.gameelements.presentation.GameelementsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated descriptions -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.tu_bs.cs.isf.mbse.egg.descriptions.auxiliary.presentation.AuxiliaryModelWizardID"
            name="%_UI_AuxiliaryModelWizard_label"
            class="de.tu_bs.cs.isf.mbse.egg.descriptions.auxiliary.presentation.AuxiliaryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AuxiliaryModelFile.gif">
         <description>%_UI_AuxiliaryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated descriptions -->
      <editor
            id="de.tu_bs.cs.isf.mbse.egg.descriptions.auxiliary.presentation.AuxiliaryEditorID"
            name="%_UI_AuxiliaryEditor_label"
            icon="icons/full/obj16/AuxiliaryModelFile.gif"
            extensions="auxiliary"
            class="de.tu_bs.cs.isf.mbse.egg.descriptions.auxiliary.presentation.AuxiliaryEditor"
            contributorClass="de.tu_bs.cs.isf.mbse.egg.descriptions.auxiliary.presentation.AuxiliaryActionBarContributor">
      </editor>
   </extension>
</plugin>
