<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 © 2017 Yellow of the EGG Cooperation
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated egglanguage -->
      <package
            uri="https://www.tu-bs.de/cs/isf/mbse/egg"
            class="egglanguage.EgglanguagePackage"
            genModel="fcking%20model/egglanguage.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated egglanguage -->
      <package
            uri="https://www.tu-bs.de/cs/isf/mbse/egg/gui"
            class="egglanguage.gui.GuiPackage"
            genModel="fcking%20model/egglanguage.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated egglanguage -->
      <package
            uri="https://www.tu-bs.de/cs/isf/mbse/egg/gameelements"
            class="egglanguage.gameelements.GameelementsPackage"
            genModel="fcking%20model/egglanguage.genmodel"/>
   </extension>

</plugin>
