<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="de.tu_bs.cs.isf.mbse.eggcubator.EggImageProvider"
            id="de.tu_bs.cs.isf.mbse.eggcubator.eggImageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="de.tu_bs.cs.isf.mbse.eggcubator.levelDiagram"
            name="Level Diagram"
            type="levelDiagram">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="de.tu_bs.cs.isf.mbse.eggcubator.LevelDiagramProvider"
            id="de.tu_bs.cs.isf.mbse.eggcubator.levelDiagramProvider"
            name="Level Diagram Provider">
         <imageProvider
               id="de.tu_bs.cs.isf.mbse.eggcubator.eggImageProvider">
         </imageProvider>
         <diagramType
               id="de.tu_bs.cs.isf.mbse.eggcubator.levelDiagram">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.tu_bs.cs.isf.mbse.eggcubator.LevelEditor"
            contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
            extensions="level"
            id="de.tu_bs.cs.isf.mbse.eggcubator.levelEditor"
            matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorMatchingStrategy"
            name="Level Editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.graphiti.content.diagram">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="levelDiagram.PropertyContributor">
         <propertyCategory
               category="LevelCategory"></propertyCategory>
         <propertyCategory
               category="ElementCategory">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="levelDiagram.PropertyContributor">
         <propertyTab
               category="LevelCategory"
               id="de.tu_bs.cs.isf.mbse.eggcubator.levelTab"
               label="Level">
         </propertyTab>
         <propertyTab
               category="ElementCategory"
               id="de.tu_bs.cs.isf.mbse.eggcubator.elementTab"
               label="Element">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="levelDiagram.PropertyContributor">
         <propertySection
               class="de.tu_bs.cs.isf.mbse.eggcubator.tabbedProperties.LevelSection"
               filter="de.tu_bs.cs.isf.mbse.eggcubator.tabbedProperties.LevelFilter"
               id="de.tu_bs.cs.isf.mbse.eggcubator.levelTab.level"
               tab="de.tu_bs.cs.isf.mbse.eggcubator.levelTab">
         </propertySection>
         <propertySection
               class="de.tu_bs.cs.isf.mbse.eggcubator.tabbedProperties.WarpPointSection"
               filter="de.tu_bs.cs.isf.mbse.eggcubator.tabbedProperties.WarpPointFilter"
               id="de.tu_bs.cs.isf.mbse.eggcubator.elementTab.warpPoint"
               tab="de.tu_bs.cs.isf.mbse.eggcubator.elementTab">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
